.App {
  display: flex;
  justify-content: center;
  background-color: #ab9b7d;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #e4dfbd;
  margin: 20px;
  padding: 20px;
  width: 990px;
  border-radius: 10px;
}

.grid-item {
  background-color: red;
  width: 150px;
  height: 150px;
}

.modal-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  background-color: #a7bfdb;
  border-radius: 10px;
}

.modal-link>p {
  padding-left: 10px;
}

.title {
  font-weight: bold;
  color: #6a511b;
  font-family: Arial, Helvetica, sans-serif;
}

.img {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  cursor: pointer;
}

.comments {
  background-color: bisque;
  border: solid 1px black;
  padding: 20px;
}

.comment {
  background-color: azure;
}

.comment-form {
  background-color: lightpink;
}

.modal {
  position: fixed;
  top: 6%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  padding: 10px;
  box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
  background: #8ba1b9;
  border-radius: 10px;
  overflow: scroll;
  height: 600px;
}

.modal-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.url-img {
  cursor: pointer;
  width: 600px;
  height: 600px;
}

.close-btn {
  width: 100px;
}